<!DOCTYPE html>
<html lang="en" xmlns:>
<head>
    <meta charset="UTF-8">
    <title>Register Account</title>
</head>
<style>
    .button {
        text-align: center;
        background-color: #FFFFFF
    }

    .button:hover {
        background-color: #33FFCC
    }
</style>
<body style="background-color:#BEBEBE">
    <h1>CREATE A NEW ACCOUNT</h1>
    <form method="post">
        <div>
            <label>Add Username: </label>
            <input type="text" name="username">
            <br><br>
            <label>Create Password: </label>
            <input type="text" name="password">
            <br><br><br>
        </div>
        <input type = submit value="ADD ACCOUNT" class="button">
        <label>Already have an account?</label>
        <a href="/">Go Back</a>
    </form>
</body>
</html>