{% extends "main.j2" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block main %}

<main>
  <section class="py-1 text-center container">
    <div class="row py-lg-2">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">{{campaign}}</h1>
        <p class="lead">People, Places, and Things of note, in the jewel of the Sword Coast.</p>
      </div>
    </div>
  </section>

  <div class="album py-5">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">  
        <div class="col">
          <h2>NPCs</h2>
          <div class="card shadow-sm">
            <img src="/static/oldman.jpeg" class="card-img-top" alt="old man">
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm"><a href="{{ url_for('npcView', campaign=campaign) }}">View All</a></button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <h2>Locations</h2>
          <div class="card shadow-sm">
            <img src="/static/tavern.jpeg" class="card-img-top" alt="tavern">

            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm"><a href="{{ url_for('locationView', campaign=campaign) }}">View All</a></button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <h2>Notes</h2>
          <div class="card shadow-sm">
            <img src="/static/crystal.jpeg" class="card-img-top" alt="crystal">

            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm"><a href="{{ url_for('notesView', campaign=campaign) }}">View All</a></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>  

{% endblock %}

{% block content %}
    {{ super() }}
{% endblock %}
