{% extends "main.j2" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block main %}
    <h1>The Adventurer's Field Notes</h1>
    <br>
    <form>
        <!-- Email input -->
        <div class="form-outline mb-4">
            <input type="email" id="form3Example3" class="form-control form-control-lg"
            placeholder="Enter a valid email address" />
            <label class="form-label" for="form3Example3"></label>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-3">
            <input type="password" id="form3Example4" class="form-control form-control-lg"
            placeholder="Enter password" />
            <label class="form-label" for="form3Example4"></label>
        </div>

        
        <!-- Button -->    
        <div class="text-center text-lg-start mt-4 pt-2">
            <a href="/menu" button type="button" class="btn btn-lg btn-secondary border-white bg-white"
            style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button></a>
            <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="#!" class="link-danger">Register</a></p>
        </div>

    </form>
{% endblock %}

{% block content %}
    {{ super() }}
{% endblock %}
