{% extends "main.j2" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block main %}
    <main class="container d-flex w-75 h-100 p-3 justify-content-center flex-column text-center">

        <div class="p-2">
            <h1>My Adventures!</h1>
        </div>
        {% for name in campaigns %}
        <div class="p-2">
            <h2><a href="{{ url_for('campaignView', campaign=name) }}">{{ name }}</a></h2>
        </div>
        {% endfor %}  
    </main>

{% endblock %}

{% block content %}
    {{ super() }}
{% endblock %}
