{% extends "main.j2" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block main %}

<main>
  <section class="py-1 text-center container">
    <div class="row py-lg-2">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h2>{{campaign}}</h2>
        <h1>Notes</h1>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">  
        {% for entry in notes %}
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h2 class="card-text">{{entry}}</h2>
                    </div>
                </div>
            </div>
        {% endfor %}
      </div>
    </div>
  </div>
</main>  

{% endblock %}

{% block content %}
    {{ super() }}
{% endblock %}
