{% extends "main.j2" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block main %}

<main>
  <section class="py-1 text-center container">
    <div class="row py-lg-2">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h2>{{campaign}}</h2>
        <h1>NPCs</h1>
      </div>
    </div>
    <div class="row">
        <div class="col">
            <!-- Bootstrap Modal code from: https://getbootstrap.com/docs/4.0/components/modal/ -->
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-light" data-toggle="modal" data-target="#exampleModal">
            Add NPC
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">NPC</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="" method="post" novalidate>
                            {{ form.hidden_tag() }}
                            <p>
                                {{ form.name.label }}<br>
                                {{ form.name(size=30) }}
                                {% for error in form.name.errors %}
                                <span style="color: red;">{{ error }}</span>
                                {% endfor %}
                            </p>
                            <p>
                                {{ form.desc.label }}<br>
                                {{ form.desc(size=200) }}
                                {% for error in form.desc.errors %}
                                <span style="color: red;">{{ error }}</span>
                                {% endfor %}
                            </p>
                            <input id="submit" class="btn btn-light" data-dismiss="modal" name="submit" type="submit" value="Submit">


                            {# <div class="form-group">
                                <label for="npcName">Name</label>
                                <input type="text" class="form-control" id="npcName" placeholder="Dalwib Blusterfoot">
                            </div>
                            <div class="form-group">
                                <label for="npcDesc">Description</label>
                                <textarea class="form-control" id="npcDesc" placeholder="Dwarf, extremely old, wearing pink trousers." rows="3"></textarea>
                            </div> #}
                        </form>
                    </div>                    
                </div>
            </div>
        </div>
      </div>
    </div>
  </section>

  <div class="album py-5">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">  
        {% for entry in npcs %}
            <div class="col">
                <div class="card shadow-sm">
                    <img src="/static/oldman.jpeg" class="card-img-top" alt="old man">
                    <div class="card-body">
                        <h5 class="card-title">{{entry["name"]}}</h5>
                        <p class="card-text">{{entry["desc"]}}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
      </div>
    </div>
  </div>
</main>  

{% endblock %}

{% block content %}
    {{ super() }}
{% endblock %}






